.competitionsContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  /* 2xN 형태의 그리드 */
  gap: 20px; /* 그리드 간격 설정 */
  width: 100%; /* 화면의 70%를 차지하도록 설정 */
}
.projcets {
  margin-left: 100px;
  align-items: center;
  justify-items: center;
  width: 100%; /* 화면의 70%를 차지하도록 설정 */
}
.projcets h3 {
  font-size: 20px;
}
.resumeContainer {
  display: flex;
  flex-wrap: wrap; /* 아이템이 넘칠 경우 다음 줄로 넘어감 */
}
.colorGreenH3 {
  color: #006322;
  margin-top: 45px;
  margin-left: 15px;
  font-size: 25px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #006322;
}
.comp {
  width: 60%;
  text-decoration: none;
  color: black;
  text-align: center;
}
.projcets {
  padding: 30px;
}
.projcets li {
  font-size: 15px;
}

.buttons {
  display: flex;
  width: 90%;
  margin-top: 40px;
  justify-content: space-between;
}
.buttons button {
  width: 50%;
  font-size: 20px;
  padding: 11px 0px;
  font: bold;
  border: 2px solid #006322;
  border-radius: 6px;
  background-color: white;
  color: #006322;
}

.buttons button:hover {
  width: 50%;
  font-size: 20px;
  font: bold;

  border: 2px solid white;
  border-radius: 6px;
  background-color: #006322;
  color: white;
  margin-left: 10px;
}
.soloButtonContainer {
  width: 90%;
}
.endButton {
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
  padding: 14px 0px;
  font: bold;
  border: 2px solid #006322;
  border-radius: 6px;
  background-color: white;
  color: #006322;
}
.endButton:hover {
  width: 100%;
  font-size: 20px;
  font: bold;
  border: 2px solid white;
  border-radius: 6px;
  background-color: #006322;
  color: white;
}
