@font-face {
  font-family: "SecularOne";
  src: url("../../../public/fonts/SecularOne-Regular.ttf") format("truetype");
  font-weight: 10;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  /*웹폰트 사용*/
  font-weight: normal;
  font-style: normal;
}
.LeftSide {
  display: flex;
  flex-flow: row;
  flex-basis: 100%;
  list-style: none;
  display: block; /* 버튼 가운데 정렬*/
}

.category {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 30px;
  margin-left: 10px;
  border: none; /* 테두리 삭제 */
  margin-right: auto;
  font-family: "NanumSquareRound", sans-serif;
  font-size: 15px;
  cursor: pointer; /* 버튼 커서 활성화 */
}
.categoryClicked {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 30px;
  font-size: 15px;
  border: none; /* 테두리 삭제 */
  margin-right: auto;
  font-family: "NanumSquareRound", sans-serif;
  cursor: pointer; /* 버튼 커서 활성화 */
  /*클릭시 글자 검은색으로*/
}
.mypage {
  padding: 20px;
  margin: auto;
  display: block; /* 버튼 가운데 정렬*/
  border: 10px;
  font-size: 30px;
  color: #006322;
  background-color: #ffffff;
  text-align: center;
  font-family: "SecularOne";
}
.menu {
  background-color: #ffffff;
}

.categoryContainer {
  display: flex;
  align-items: center; /* 이미지와 버튼 높이 맞춤 */
  margin-left: 10%;
  margin-right: 10%;
}
