.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselContainer {
  width: 70%; /* 화면의 70%를 차지하도록 설정 */
  height: auto;
}

.categoriesContainer {
  display: flex;
  justify-content: space-between; /* 각 카테고리를 좌우로 균등하게 배치 */
  margin-top: 20px; /* 위쪽 여백 추가 */
  border-top: 1px solid #8abc9b;
}

.category {
  /* 각 카테고리가 동일한 너비를 가지도록 설정 */
  padding: 30px;
  font-size: 20px;
  margin-left: 30px;
  background-color: #ffffff; /* 배경색 추가 */
  border: 0px;
  text-align: center; /* 텍스트 가운데 정렬 */
}
.category:hover {
  background-color: hsl(0, 0%, 69%); /* 배경색 추가 */
}

.competitionsContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(340px, 1fr)
  ); /* 2xN 형태의 그리드 */
  gap: 20px; /* 그리드 간격 설정 */
  width: 70%; /* 화면의 70%를 차지하도록 설정 */
}

.comp {
  text-decoration: none;
  color: black;
}

.compMakingContainer {
  width: 70%;
  position: relative;
}

.compMakingButton {
  position: absolute;
  border: 2px solid #8abc9b;
  font-size: 20px;
  color: #8abc9b;
  padding: 5px 20px;
  right: 0px;
}
.compMakingButton:hover {
  background-color: #8abc9b;
  color: white;
}
