.container {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.left {
  display: flex;
  flex-flow: row;
  flex-basis: 20%;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-flow: row;
  flex-basis: 80%;
  border-left: 3px solid #858585;
}

.title {
  margin: auto;
}
