.container {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.left {
  display: flex;
  flex-flow: row;
  flex-basis: 15%;
}

.main {
  display: flex;
  flex-flow: row;
  flex-basis: 85%;
  border-left: 3px solid #858585;
}
