@font-face {
  font-family: "NanumSquareNeo-cBd"; /* Bold */
  font-weight: normal;
  src: url("../../public/fonts/NanumSquareNeo-cBd.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-flow: row;
  flex-basis: 20%;
}

.main {
  display: flex;
  flex-flow: column;
  padding-left: 10%;
  font-size: 15px;
  margin-top: 3%;
  margin-bottom: 1px;
  width: 60%;
}

.title {
  font-family: "NanumSquareNeo-cBd";
}

.line {
  width: 100%;
}
.box {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #d9d9d9;
  width: 300px;
  height: 85px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 0%;
  border-radius: 5%;
}
.agreeTitle {
  display: flex;
  flex-basis: 50%;
  border-right: 2px solid #858585;
  text-align: center;
  display: block; /* 버튼 가운데 정렬*/
  font-weight: 600;
}
.agreeDetail {
  margin: auto;
  font-weight: 600;
}

.matching {
  display: flex;
  flex-direction: row;
  margin-right: 3px;
}
.btn {
  background-color: #006322;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 4px; /*둥글게*/
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: auto;
}

.plusbtn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #006322;
  color: #ffffff;
  border: none;
  margin-right: 1%;
  cursor: pointer;
  margin-top: 20px;
}
.inputField {
  width: 250px;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
}
.numSelect {
  margin: 1px;
  margin-bottom: 2px;
  margin-top: 1px;
  margin-left: none;
  padding-left: 0px;
}
.listt {
  list-style-type: none;
  display: inline-block; /* ul 요소를 인라인 블록 요소로 설정하여 가로로 배치 */
  margin-left: 2px;
  border-radius: 5px;
  padding-left: 0px;
}
.select {
  padding: 8px;
  padding-left: 10px;
  display: flex;
  border: 1px solid #000000;
  justify-content: space-between;
  border-radius: 5px;
  font-weight: 600;
  width: 200px;
  margin-right: 1%;
}

.text {
  margin: 1px;
  display: block;
  padding-left: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  padding-left: 10px;
  width: 200px;
  margin-right: 1%;
}
.text:hover {
  background-color: #f5f5f5;
}

.kickReason {
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  border: 10px;
  border-color: #000000;
  border-radius: 10px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  resize: none;
}
.kickReason:focus {
  outline: none;
}
.row {
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
}
.box {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #d9d9d9;
  width: 300px;
  height: 85px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 0%;
  border-radius: 5%;
}
.agreeTitle {
  display: flex;
  flex-basis: 50%;
  border-right: 2px solid #858585;
  text-align: center;
  display: block; /* 버튼 가운데 정렬*/
  font-weight: 600;
}
.agreeDetail {
  margin: auto;
  font-weight: 600;
}
.btn {
  background-color: #006322;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 4px; /*둥글게*/
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: auto;
}

.box2 {
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  border: 10px;
  border-color: #000000;
  border-radius: 10px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  resize: none;
}
.box2:focus {
  outline: none;
}
.agreeTitle {
  display: flex;
  flex-basis: 50%;
  border-right: 2px solid #858585;
  text-align: center;
  display: block; /* 버튼 가운데 정렬*/
  font-weight: 600;
}
.agreeDetail {
  margin: auto;
  font-weight: 600;
}

.matching {
  display: flex;
  flex-direction: row;
  margin-right: 3px;
}
.btn {
  background-color: #006322;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 4px; /*둥글게*/
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: auto;
}

.plusbtn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #006322;
  color: #ffffff;
  border: none;
  margin-right: 1%;
  cursor: pointer;
  margin-top: 20px;
}
.btnCtn {
  margin-left: 42%;
}
