@font-face {
    font-family: "NanumSquareRoundB"; /* Bold */
    font-weight: normal;
    src: url("../../../public/fonts/NanumSquareRoundB.ttf") format("truetype");
  }

.teamoutlinecontainer {
    font-family: 'Arial', sans-serif; 
    padding: 100px; 
    margin: 0px 50px; 
}

.backBtn {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.back {
    width: 24px; /* 뒤로가기 아이콘 크기 */
    height: 24px; /* 뒤로가기 아이콘 크기 */
    
}

.backwords {
    text-decoration: none; 
    margin-left: 8px; 
    font-family: "NanumSquareRoundB";
    font-size:1.5rem;
    color: #044018;
}

.title h1 {
    font-size: 30px; 
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.profile {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.writer {
    font-weight: bold;
    border-right: 1px solid black;
    width: 70px;
    padding-right: 10px;
}

.uploaddate {
    margin-left: 10px;
    color: #D2C8C8;
}

.description {
    font-size: 16px;
    display:grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas: 
        "meetingway recruitnum"
        "location startdate"
        "languages jobs";
    margin:30px 0px;   
}

.description > div {
    margin-bottom: 30px;
}

.languages{
    display: flex; /* 언어와 직무를 행으로 표시 */
    flex-wrap: wrap; /* 줄 바꿈 */
    grid-area: languages;

    
}



.recruitjobs {
    display: flex;
    flex-wrap: wrap; 
    grid-area: jobs;

}

.languages div{
    margin-right: 10px; 
    padding: 0px 0px; 
    
}

.recruitjobs div {
    margin-right: 10px; 
    padding: 0px 10px; 
    
}
