@font-face {
  font-family: "NanumSquareNeo-cBd"; /* Bold */
  font-weight: normal;
  src: url("../../../public/fonts/NanumSquareNeo-cBd.ttf") format("truetype");
}

.calendar {
  width: 100%;
}

.title {
  color: #006322;
  font-family: "NanumSquareNeo-cBd";
  font-weight: 900;
}


.input {
  margin-bottom: 10px;
  margin-left: 15px;
}

.inputtodo{
  height:30px;
  width: 300px;
}

.todo, .date{
  font-family: "NanumSquareNeo-cBd";

}

.submit{
  background-color: #006322;
  font-family: "NanumSquareNeo-cBd";
  color: white;
  margin-left:20px;
  height:30px;
  border-radius: 10;
  

}

/* Calendar.module.css에 추가 */
.saturday {
  color: blue; /* 토요일에 대한 스타일 */
}
.dotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
  justify-content: center;
}
