@font-face {
  font-family: "SecularOne";
  src: url("../../../public/fonts/SecularOne-Regular.ttf") format("truetype");
  font-weight: 10;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  /*웹폰트 사용*/
  font-weight: normal;
  font-style: normal;
}
.leftSide {
  display: flex;
  flex-flow: row;
  flex-basis: 100%;
  list-style: none;
  display: block; /* 버튼 가운데 정렬*/
}

.unclicked {
  display: flex;
  flex-flow: column;
  padding: 30px;
  width: 100%;
  margin-left: 10px;
  border: none;
  margin-right: auto;
  cursor: pointer; /* 버튼 커서 활성화 */
  filter: invert(88%) sepia(0%) saturate(5080%) hue-rotate(103deg)
    brightness(93%) contrast(95%); /*#ccc로 색 변경*/
}

.clicked {
  display: flex;
  flex-flow: column;
  padding: 30px;
  width: 100%;
  margin-right: auto;
  border: none;
  cursor: pointer; /* 버튼 커서 활성화 */
  filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(121deg) brightness(88%)
    contrast(107%); /*클릭시 아이콘 검은색으로*/
}

.teampage {
  padding: 20px;
  margin: auto;
  display: block; /* 버튼 가운데 정렬*/
  border: 10px;
  font-size: 30px;
  color: #006322;
  background-color: #ffffff;
  text-align: center;
  font-family: "SecularOne";
}
.menu {
  background-color: #ffffff;
}

.categoryContainer {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
