.tags {
  display: inline-block;
  background-color: #f8f8f8;
  font-size: 15px;
  color: #505050;
  margin-left: 10px;
  margin-top: 4px;
  padding: 0px 15px;
  border-radius: 15px;
  border: 1px solid black;
}
.tags p {
  padding: 0px;
  margin: 5px;
}
